html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: rgb(25, 24, 23);
  color: white;
}

header {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 900px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(25, 24, 23);
}

.nav-link {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background: rgba(252, 253, 253, 0.746);
  letter-spacing: 1.2px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
}

.active {
  background: rgb(253, 169, 84);
}

img {
  border-radius: 25px;
  box-shadow: 0 0 50px -5px rgba(253, 169, 84, 0.6);
  border: 3px solid rgba(253, 169, 84, );
}

.intro {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 0;
}

.intro-color-change {
  color: rgb(253, 169, 84);
}

p {
  line-height: 1.2;
  font-size: 20px;
}


.section-heading {
  font-size: 40px;
  font-weight: bold;
}

#about-me {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.col-1 {
  padding: 20px 40px;
}

.col-2 {
  max-width: 900px;
  padding: 20px 40px;
}

/* Project section css */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  background: rgb(116, 109, 104);
  margin-top: 200px;
  margin-bottom: 200px;
}

.display-project {
  width: 900px;
  height: 900px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 50px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3)
}

#projects h2 {
  font-size: 40px;
  font-weight: bold;
}


/* Contact section CSS */
#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 300px;
}

#contact h2 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(253, 169, 84);
}

#contact .section-heading {
  color: rgb(253, 169, 84);
}

#icon-links {
  display: flex;
  padding: 0 20px;
}

#icon-links .icon {
  padding: 0 20px;
}



/* Tablets and similar devices */
@media (max-width: 962px) {
  .nav {
    width: 600px;
  }


  #about-me {
    flex-direction: column;
  }

  img {
    display: block;
    margin: auto;
    width: 60%;
  }

  .intro-text {
    text-align: center;
  }

  .info {
    text-align: center;
  }


  /* Project section */
  .display-project {
    width: 600px;
    height: 600px;
    margin-left: 10px;
    margin-right: 10px;
  }
}




/* Phones and similar devices */
@media (max-width: 640px) {
  .nav {
    width: 100%;
    padding: 10px;
  }


  .nav a {
    margin: 10px;
    padding: 10px
  }

  /*About me section  */
  img {
    width: 80%;
  }

  .intro {
    margin-top: 20px;
  }


  /*Project sections  */
  .display-project {
    width: 350px;
    height: 350px;
  }

  #projects {
    margin-top: 40px;
    padding-top: 40px;
  }


  /* Contact section */


}